<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>注册</title>
</head>
<body>

	<form action="http://localhost:8080/YDMusic/RegisterServlet" method="post">
		用户：<input type="text" name="username" /><br />
		 密码：<input type="password" name="password" /><br /> 
		 手机号码：：<input type="text" name="telnumber" /><br /> 
		 <input type="submit" value="注册" />

	</form>
</body>
</html>
